################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.v2
/Back-End/.vs
/Back-End/AP/CRNT/CreditNotesAPI/obj
/Back-End/AP/CRNT/CreditNotesLogic/obj
/Back-End/AP/PURO/PurchaseOrdersAPI/obj
/Back-End/AP/PURO/PurchaseOrdersLogic/obj
/Back-End/AP/SGRP/SuppliersGroupsAPI/obj
/Back-End/AP/SGRP/SuppliersGroupsLogic/obj
/Back-End/AP/SPLR/SuppliersAPI/obj
/Back-End/AP/SPLR/SuppliersLogic/obj
/Back-End/AR/CGRP/CustomersGroupsAPI/obj
/Back-End/AR/CGRP/CustomersGroupsLogic/obj
/Back-End/AR/CUST/CustomersAPI/obj
/Back-End/AR/CUST/CustomersLogic/obj
/Back-End/AR/DBNT/DebitNotesAPI/obj
/Back-End/AR/DBNT/DebitNotesLogic/obj
/Back-End/AR/PNLT/PenaltiesAPI/obj
/Back-End/AR/PNLT/PenaltiesLogic/obj
/Back-End/AR/SLSH/SalesHistoryAPI/obj
/Back-End/AR/SLSH/SalesHistoryLogic/obj
/Back-End/AR/SREP/SalesRepsAPI/obj
/Back-End/AR/SREP/SalesRepsLogic/obj
/Back-End/DAL/obj
/Back-End/GL/CCA/CCAAPI/obj
/Back-End/GL/CCA/CCALogic/obj
/Back-End/GL/EXR/EXRAPI/obj
/Back-End/GL/EXR/EXRLogic/obj
/Back-End/GL/JT/JournalTypesAPI/obj
/Back-End/GL/JT/JournalTypesLogic/obj
/Back-End/GL/POC/POCApi/obj
/Back-End/GL/POC/POCLogic/obj
/Back-End/GlobalHelper/obj
/Back-End/SUSMngr/CLR/ColorAPI/obj
/Back-End/SUSMngr/CLR/ColorLogic/obj
/Back-End/SUSMngr/DSC/DataSecurityAPI/obj
/Back-End/SUSMngr/DSC/DataSecurityLogic/obj
/Back-End/SUSMngr/FLD/FieldAPI/obj
/Back-End/SUSMngr/FLD/FieldLogic/obj
/Back-End/SUSMngr/LNG/LanguageAPI/obj
/Back-End/SUSMngr/LNG/LanguageLogic/obj
/Back-End/SUSMngr/MSG/MessageAPI/obj
/Back-End/SUSMngr/MSG/MessageLogic/obj
/Back-End/SUSMngr/SRCH/SRCHAPI/obj
/Back-End/SUSMngr/SRCH/SRCHLogic/obj
/Back-End/SUSMngr/SYS/SUSSystemApi/obj
/Back-End/SUSMngr/SYS/SUSSystemLogic/obj
/Back-End/SUSMngr/TBL/TableAPI/obj
/Back-End/SUSMngr/TBL/TableLogic/obj
/Back-End/SUSMngr/USRS/AuthApi/obj
/Back-End/SUSMngr/USRS/AuthLogic/obj
/Back-End
